<section class="content">
    <div class="container box my-5" id="create-post-box">

        <h3 class="is-size-3 has-text-weight-bold has-text-centered">Create New Post</h3>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Title</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control" id="post-title-control">
                        <input class="input" type="text" id="post-title"
                            placeholder="e.g. Why Macs are better than PCs">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Comment</label>
            </div>
            <div class="field-body is-inline">
                <div class="field">
                    <div class="control" id="post-content-control">
                        <textarea class="textarea" id="post-content" placeholder="e.g. They just are..."></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="field-label">
                <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control has-text-centered">
                        <button class="button is-primary" id="create-post-btn">
                            Create Post
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container box my-5">
        <h3 class="is-size-3 has-text-weight-bold has-text-centered">My Posts</h3>

        {{#each postData as |post|}}
        <div class="card mt-5">
            <header class="card-header has-background-info">
                <a href="/singlepost/{{post.id}}">
                <div class="block m-3">
                    <div class="has-text-white title is-4">
                        {{post.title}}
                    </div>
                    <div class="has-text-white subtitle is-7">
                        Created by: {{post.user.username}} on: {{format_date post.createdAt}}
                    </div>
                </div>
                </a>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>
                        {{post.content}}
                    </p>
                </div>
            </div>
        </div>
        {{/each}}

    </div>

</section>

<script src="/assets/js/dashboard.js"></script>