<section class="content">
    <div class="columns is-centered">
        <div class="column is-four-fifths">
            {{#each postData as |post|}}
            <div class="card mt-5">
                <header class="card-header has-background-info">
                    <a href="/singlepost/{{post.id}}">
                        <div class="block m-3">
                            <div class="has-text-white title is-4">
                                {{post.title}}
                            </div>
                            <div class="has-text-white subtitle is-7">
                                Created by: {{post.user.username}} on: {{format_date post.createdAt}}
                            </div>
                        </div>
                    </a>
                </header>
                <div class="card-content">
                    <div class="content">
                        <p>
                            {{post.content}}
                        </p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>